{% extends 'base.html' %}
{% block titulo %} LISTA DE PRODUCTOS {% endblock %}
{% block contenido %}
 
<section class="content-header">
  <h1>
    Lista de todos los productos
    <small>listar</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Venta</a></li>
    <li><a href="#">Lista Productos</a></li>
    <li class="active">Lista</li>
  </ol>
</section>


<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Lista de productos</h3>
        </div>
        <!-- /.box-header -->
       {% if producto %}
       {{producto.id}}
       {{producto.nombre}}

       <img src="{{ producto.imagen.url}}">

       {% endif %}
       

      


      </div>
   

    </div>

  </div>
</section>

{% endblock %}

